<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MetroModernUI" version="1.4.0.0" targetFramework="net461" />
  <package id="Selenium.WebDriver" version="4.3.0" targetFramework="net461" />
  <package id="Selenium.WebDriver.ChromeDriver" version="103.0.5060.5300" targetFramework="net461" />
</packages>